{% extends 'app1/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-8 offset-2">
                <h3 class="atert alert-warning text-center"> Employee Registration Form </h3>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
</div>
</div>

<table class="table " >
    <h3 class="atert alert-warning text-center my-5"> Employee Records </h3>
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td>
            <a href="{% url 'update' i.id %}">
            <i class="fa-solid fa-user-pen"></i>
        </a>
        <form action="{% url 'delete' i.id %}" method="post" class="d-inline" >
            {% csrf_token %}
            <button type="submit">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 
</div>
    {% endblock content %}


