<html>
    <title>
        Home-page
    </title>
    <body>
       <h1> Welcome to the Text-Analyzer :- Write your text here </h1>
        <form action="Analyze/" method='get'>
            <textarea name="text" style="width: 729px; height: 103px;"></textarea><br>
            <input type="checkbox" name="removepunc">Remove Punctuations<br>
            <input type="checkbox" name="capfirst">capitalizeall<br>
            <input type="checkbox" name="newlineremover">newlineremover<br>
            <input type="checkbox" name="Extraspaceremover">Extraspaceremover<br>
            <input type="checkbox" name="Char_count">Charcount<br>
            <button type="submit"> Analyze-Text </button>   
        </form>
        
    </body>
</html>